In [3]:
# import sqlite3
import pandas as pd
import sqlite3

conn = sqlite3.connect('coderhouse.db')

query = "SELECT * FROM produtos"
df = pd.read_sql(sql=query, con=conn)
print(df)

conn.close()

       nome  valor
0      ovos     10
1  manteiga     20
2     peixe     30

# ATIVIDADE EM SALA
## Leitura e Escrita de um DB

1. Criar as seguintes funções:
   - `tabelas_bd()`: retorna um dataframe com as tabelas do banco de dados.
   - `salva_bd(df, nome_tabela)`: salva o dataframe na tabela `nome_tabela`.
   - `carrega_bd(nome_tabela)`: carrega a tabela `nome_tabela` em um dataframe.

2. Utilize a tabela do arquivo `fastfood.xlsx` para testar as funções criadas acima, adicionando o dataframe ao banco de dados.

*Todas as funções devem internamente abrir e fechar a conexão com o banco de dados `coderhouse.db` criado anteriormente.*
**Essas funções serão úteis no projeto final.**

In [7]:
"""Criar a seguinte função:
   - `tabelas_bd()`: retorna um dataframe com as tabelas do banco de dados.
*A função deve internamente abrir e fechar a conexão com o banco de dados `coderhouse.db`.*
"""

import sqlite3
import pandas as pd

def tabelas_bd():
  conn = sqlite3.connect('coderhouse.db')
  query = "SELECT name FROM sqlite_master WHERE type='table';"
  schema = pd.read_sql(sql=query, con=conn)
  conn.close()
  return schema

#tabelas_bd()

In [10]:
"""Criar a seguinte função:
   - `salva_bd(df, nome_tabela)`: salva o dataframe na tabela `nome_tabela`.
*A função deve internamente abrir e fechar a conexão com o banco de dados `coderhouse.db`.*
"""

import sqlite3
import pandas as pd

def salva_bd(df, nome_tabela):
  conn = sqlite3.connect('coderhouse.db')
  df.to_sql(name=nome_tabela, con=conn, if_exists='replace', index=False)
  conn.close()
  return

#fastfood = pd.read_excel('fastfood.xlsx')

#salva_bd(df=fastfood, nome_tabela='fastfood2')

In [15]:
"""Criar a seguinte função:
   - `carrega_bd(nome_tabela)`: carrega a tabela `nome_tabela` em um dataframe.
*A função deve internamente abrir e fechar a conexão com o banco de dados `coderhouse.db`.*
"""

import sqlite3
import pandas as pd

def carrega_bd(nome_tabela):
  conn = sqlite3.connect('coderhouse.db')
  query = f"SELECT * FROM {nome_tabela}"
  schema = pd.read_sql(sql=query, con=conn)
  conn.close()
  return schema

#carrega_bd(nome_tabela='fastfood')

In [16]:
# 2. Utilize a tabela do arquivo `fastfood.xlsx` para testar as funções criadas acima, adicionando o dataframe ao banco de dados.

tabelas_bd()

fastfood = pd.read_excel('fastfood.xlsx')

salva_bd(df=fastfood, nome_tabela='fastfood2')

carrega_bd(nome_tabela='fastfood2')

,restaurant,item,calories,cal_fat,total_fat,sat_fat,trans_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium,salad
0,Mcdonalds,Artisan Grilled Chicken Sandwich,380,60,7,2,0,95,1110,44,3.0,11,37.0,4.0,20.0,20.0,Other
1,Mcdonalds,Single Bacon Smokehouse Burger,840,410,45,17,2023-05-01 00:00:00,130,1580,62,2.0,18,46.0,6.0,20.0,20.0,Other
2,Mcdonalds,Double Bacon Smokehouse Burger,1130,600,67,27,3,220,1920,63,3.0,18,70.0,10.0,20.0,50.0,Other
3,Mcdonalds,Grilled Bacon Smokehouse Chicken Sandwich,750,280,31,10,0.5,155,1940,62,2.0,18,55.0,6.0,25.0,20.0,Other
4,Mcdonalds,Crispy Bacon Smokehouse Chicken Sandwich,920,410,45,12,0.5,120,1980,81,4.0,18,46.0,6.0,20.0,20.0,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,Taco Bell,Spicy Triple Double Crunchwrap,780,340,38,10,0.5,50,1850,87,9.0,8,23.0,20.0,10.0,25.0,Other
511,Taco Bell,Express Taco Salad w/ Chips,580,260,29,9,1,60,1270,59,8.0,7,23.0,NaN,NaN,NaN,Other
512,Taco Bell,Fiesta Taco Salad-Beef,780,380,42,10,1,60,1340,74,11.0,7,26.0,NaN,NaN,NaN,Other
513,Taco Bell,Fiesta Taco Salad-Chicken,720,320,35,7,0,70,1260,70,8.0,8,32.0,NaN,NaN,NaN,Other
514,Taco Bell,Fiesta Taco Salad-Steak,720,320,36,8,1,55,1340,70,8.0,8,28.0,NaN,NaN,NaN,Other